{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">404</h1>
			<h2 class="text-center">Oups, la ressource est introuvable!</h2>
			<h2 class="text-center">Contactez un administrateur si ce message persiste.</h2>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
