{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">429</h1>
			<h2 class="text-center">Trop de requêtes.</h2>
			<h2 class="text-center">Merci de ne pas spammer le serveur!</h2>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
