{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Créer une équipe</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% for error in errors %}
					<div class="alert alert-danger alert-dismissable" role="alert">
						<span class="sr-only">Erreur:</span>
						{{ error }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
								aria-hidden="true">×</span></button>
					</div>
				{% endfor %}
				<form method="POST">
					<div class="form-group">
						<label>Nom d'équipe:</label>
						<input class="form-control" type="text" name="name">
					</div>
					<div class="form-group">
						<label>Mot de passe:</label>
						<input class="form-control" type="password" name="password">
					</div>
					<input type="hidden" name="nonce" value="{{ nonce }}">
					<div class="row pt-3">
						<div class="col-md-12">
							<p>Après avoir créé votre équipe, partagez le nom d'équipe et le mot de passe à vos équipiers pour qu'ils puissent vous rejoindre.</p>
							<button type="submit" id="submit" class="btn btn-success float-right">
								Créer
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
